body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat';
}

/*** Styling for Header ***/
.navbar {
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
}

#logo a {
  text-decoration: none;
  font-weight: 600;
  font-size: 2.7rem;
  color: rgba(0, 0, 0, 0.84);
}

.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: '';
  background: #f99e1a;
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 3rem;
  margin-top: -2rem;
  margin-left: 4rem;
}

#navbar_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

#navbar_right h4 {
  padding: 10px;
}

#navbar_right span {
  display: inline-block;
  position: relative;
}

#navbar_right span::after {
  content: '';
  background: #f99e1a;
  position: absolute;
  display: block;
  z-index: -1;
  width: 80%;
  height: .5rem;
  margin-top: -2.5rem;
  margin-left: 1.1rem;
}

/*** Styling for intro text ***/
.intro_text {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  height: 15rem;
  /* Animation for waving hand */
}

.intro_text #intro_span {
  display: inline-block;
  position: relative;
  color: #218ffe;
}

.intro_text #intro_span::after {
  content: '';
  background: #f99e1a;
  position: absolute;
  display: block;
  z-index: -1;
  width: 104%;
  height: 3.5rem;
  margin-top: -2rem;
  margin-left: -.3rem;
}

.intro_text h3 {
  color: #43484c;
}

.intro_text #wave_span {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*** Styling for about me ***/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 45px;
}

.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  max-width: 45rem;
}

.about_me .about_me_header {
  margin-left: -25rem;
}

.about_me span {
  display: inline-block;
  position: relative;
}

.about_me span::after {
  content: '';
  background: #f99e1a;
  position: absolute;
  display: block;
  z-index: -1;
  width: 115%;
  height: .75rem;
  margin-top: -0.7rem;
  margin-left: 1rem;
}

.about_me img {
  padding: 25px;
  height: 15rem;
}

.about_me .about_me_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #43484c;
}

.about_me .about_me_text {
  padding-left: 25px;
}

.about_me .skill_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 280px))[2];
      grid-template-columns: repeat(2, minmax(60px, 280px));
}

/*** Styling for Project Divs ***/
.project_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #405275;
  padding-bottom: 15px;
}

.project_title span {
  display: inline-block;
  position: relative;
}

.project_title span::after {
  content: '';
  background: #f99e1a;
  position: absolute;
  display: block;
  z-index: -1;
  width: 115%;
  height: 2rem;
  margin-top: -1.5rem;
  margin-left: -.5rem;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
}

section .project_div {
  background-color: black;
  height: 70vh;
  border-radius: 1%;
  max-width: 75vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #project_one {
  background-image: url("../images/friendlywager.JPG");
  background-size: cover;
}

section #project_two {
  background-image: url("../images/ow.png");
  background-size: cover;
}

section #project_three {
  background-image: url("../images/routeplanner.png");
  background-size: cover;
}

section #project_four {
  background-image: url("../images/moviesaga.PNG");
  background-size: cover;
}

section #project_five {
  background-image: url("../images/pong.PNG");
  background-size: cover;
}

section #project_six {
  background-image: url("../images/calculator.PNG");
  background-size: cover;
}

/*** Styling for text/transparent boxes in project divs ***/
.transbox {
  text-align: center;
  margin: 30px;
  background-color: #ffffff;
  border: 2px solid black;
  opacity: .8;
  border-radius: 5%;
  -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.19), 0 6px 6px 5px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.19), 0 6px 6px 5px rgba(0, 0, 0, 0.23);
}

.transbox .transbox > * {
  margin: 5%;
  font-weight: bold;
}

.transbox span {
  display: inline-block;
  position: relative;
}

.transbox span::after {
  content: '';
  background: #f99e1a;
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 1.25rem;
  margin-top: -1rem;
  margin-left: .5rem;
}
/*# sourceMappingURL=index.css.map */